*{
  box-sizing: border-box;
  color-scheme: dark;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
}
#root{
  display: flex;
  flex-wrap: wrap;
}
.board{
  margin: 1.5rem;
  height: 240px;
  width: 240px;
  display: block;
}
.status{
  display: block;
  text-align: center;
  margin: 1.5rem;
  font-size: 1.5rem;
}
.board-row{
  display: flex;
}
.square{
  animation: none;
  height: 80px;
  width: 80px;
  font-size: 1.5rem;
  font-weight: 800;
  color: rgb(3, 28, 46);
  background-color: rgb(183, 240, 131);
  transition: 3s;
}
button:hover{
  background-color: green;
}